/* ALL */
.sizing
{
    width: 70%;
    margin: 0 auto;
}
/* FIRST PAGE */

/* SECOND PAGE */

/* THIRD PAGE */

article
{
    width: 27%;
}
article img
{
 width: 100%;
}

.flex-network
{
    display: flex;
    justify-content: space-around;
}

/* FOOTER */