/*** HEADER ***/
/* BLOC */
.layout_header
{
    background-image: url(../images/bg/bg-layout.jpg);
    background-size: 100%;
    filter: grayscale(100%);
    background-position-y: -120px;

    min-height: 100vh;
}

.layout_header_bloc-nav li
{
    display: inline;
}

/* :HOVER */

.layout_header_bloc-nav a:hover
{
    background-color: white;
    color: black;
}

.layout_header_bloc-nav a
{
    color: white;
}
/* GAUCHE */
/* DROITE */

/* INFO */
.layout_header_bloc-info
{
    padding-top: 150px;
}
.layout_header_bloc-info a 
{
    display: block;

    width: 15%;
    margin: 20px auto;
}