/*** SPACE ***/
.register-space_form
{
    min-height: 650px;
    width: 100%;
}
/*** SPACE FORM ***/
.register-space
{
    margin: 50px 0;
}

/*** FORM ***/

.register_form
{
    width: 70%;
}
.register_form fieldset
{
    border: 2px solid black;  
    border-radius: 5px;
    min-height: 570px;  
}

/*** LEFT ***/
.left
{
    width: 30%;

    margin: auto 0;
}
.left img
{
    width: 100%; 
    filter: invert(1);
}
.left a
{
    display: block;

    width: 40%;
    margin: 50px auto;

    border: 2px solid white;
}
/*** RIGHT ***/
/* STEP 1 */
.register-space_form_step-one
{
    min-height: 100%;
}

.radio_register
{
    margin-bottom: 50px;
}

.inputmail input
{
    margin-top: 20px;
    width: 100%;
    display: block;
    padding: 7px 5px;
}

.register-space_form_step-one a
{
    display: block;

    width: 35%;
    margin: 50px auto;
}
/* STEP 2 */
.register-space_form_step-two button
{
    display: block;

    width: 35%;
    margin: 0 0 0 auto;
}
.inputlabel
{
    display: block;
    margin: 20px auto;
}

.inputlabel input
{
    width: 100%;
    padding: 7px 5px;

    display: block;
}