/*** SPACE_SHOP ***/
.shop_space
{
    margin: 20px 0;
}
/*** SHOP_PRODUCT ***/
.shop_product
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*** PRODUCT ***/
.product
{
    margin: 0 20px 20px 0;
    width: 30%;
    text-align: center;

    border: 2px black solid;
}
.product img
{
    width: 70%;
    image-rendering: auto;
}

.product p
{
    width: 100%;
}
/* PRODUCT_ABOUT */
.product_about
{
    margin-top: 20px;
    text-align: right;
}

/*** SHOP_ABOUT ***/
.shop_about
{
    width: 30%;
    border: 2px black solid;  
}

.basket
{
    position: sticky;
    top: 0;
}
.basket_detail table
{
    width: 100%;
}

.basket_detail tr
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket_detail button
{
    border :none;
}

.first_td
{
    min-width: 60%;
}

.second_td,
.third_td
fourth_td
{
    text-align: left;
    width: 10%;
}

.third_td select
{
    width: 100%;
}


