*
{
    box-sizing: border-box;
}

.sizing
{
    width: 960px;
    margin: 0 auto;
}

.h-color

.n-top-color

.s-1-color

.s-2-color

.f-color



/*   BODY   */

/*   HEADER   */

/*   MAIN   */

/*   SECTION 1   */

/*   SECTION 2   */

/*   FOOTER   */

